body {
	width: 15rem;
	background-color: #1d3557;
	color: white;
}

h2 {
	display: flex;
	justify-content: center;
}

h2 span {
	color: red;
}

.links {
	display: flex;
	justify-content: center;
}

.links button {
	width: 20em;
	margin-left: 3px;
	margin-right: 3px;
}

.credits {
	margin-top: 1em;
}

.credits p {
	margin-top: 0px;
	margin-bottom: 0px;
}